


<div class="clb"></div>

<div class="container">
  <!-- Indicators -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/img1.png" style="padding: 0px; border-width: 0px;
            width: 100%;
            height: 400px;
            margin-top: -0.199069px;
            ">

        <div class="carousel-caption">
          <h3>고에너지 천체물리</h3>
          <p>X-선, γ-선, 장파장 전파 등 열적/비열적 복사 및 우주선(cosmic rays), 중성미자, 중력파 방출을 수반하는 고에너지 천문현상을 연구</p>
        </div>
      </div>
      <div class="item">
        <img src="/img2.png" style="
            width: 100%;
            height: 400px;
            margin-top: -0.199069px;
            ">
        <div class="carousel-caption">
          <h3>고에너지 천문현상이 관측되는 천체들의 공통점</h3>
          <p>높은 에너지, 높은 밀도, 상대론적 에너지, 강력한 폭발, 강한 중력장 등의 극한환경을 보유
          </p>
        </div>
      </div>
      <div class="item">
        <img src="/big.png" style="padding: 0px;
            border-width: 0px;
            width: 100%;
            height: 400px;
            margin-top: -0.199069px;
            " >
        <div class="carousel-caption">
          <h3>고에너지 천문현상 규명</h3>
          <p>천체물리:이론 및 시뮬레이션,천문관측자료 활용:전파, X-선, γ-선, 실험 천문학: PAL-XFEL(X-선) RAON(핵천체) 활용
          </p>

        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="fa fa-angle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="fa fa-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>공지사항</h2>
      <ul>


        <li class="">
          <a href="/board/view.sko?menuCd=JF06001000000&amp;boardId=science_news&amp;dataSid=4596502">
            <span class="txt1">박현거교수/... </span>
            <span class="txt2">2015-11-10</span>
          </a>
        </li>


        <li class="on">
          <a href="/board/view.sko?menuCd=JF06001000000&amp;boardId=science_news&amp;dataSid=4563032">
            <span class="txt1">2015 기초과... </span>
            <span class="txt2">2015-06-23</span>
          </a>
        </li>


        <li class="">
          <a href="/board/view.sko?menuCd=JF06001000000&amp;boardId=science_news&amp;dataSid=4538892">
            <span class="txt1">우수인재 복... </span>
            <span class="txt2">2015-04-27</span>
          </a>
        </li>


        <li class="on">
          <a href="/board/view.sko?menuCd=JF06001000000&amp;boardId=science_news&amp;dataSid=4272088">
            <span class="txt1">2014 Winter Phys... </span>
            <span class="txt2">2014-12-09</span>
          </a>
        </li>


        <li class="">
          <a href="/board/view.sko?menuCd=JF06001000000&amp;boardId=science_news&amp;dataSid=3965952">
            <span class="txt1">[GIST] 광주과... </span>
            <span class="txt2">2014-09-29</span>
          </a>
        </li>

      </ul>
    </div>
    <div class="col-md-4">
      <h2>스케쥴</h2>
      <ul>

        <li>
          <div class="pho" style="font-size: 12px">
            <img src="images/03_mul/main/cs_001.jpg" alt="A mechanistic view of biological force generation, motion, and  assemblies (June. 10)" style="width: 219px; height: 80px;">
          </div>
          <div class="txt" >
            <h3>
              <a href="/board/view.sko?menuCd=JF06003000000&amp;boardId=science_events&amp;dataSid=4549237">
                A mechanistic view of b...
              </a>
            </h3>
            <p></p>
            <p class="date">2015-05-22</p>
          </div>
        </li>
        <div class="clb"></div>

        <li class="magt15">
          <div class="pho">
            <img src="images/03_mul/main/cs_002.jpg" alt="Microparticle manipulation in inertial microfluidic systems (June. 3)" style="width: 219px; height: 80px;">
          </div>
          <div class="txt">
            <h3>
              <a href="/board/view.sko?menuCd=JF06003000000&amp;boardId=science_events&amp;dataSid=4549234">
                Microparticle manipulat...
              </a>
            </h3>
            <p></p>
            <p class="date">2015-05-22</p>
          </div>
        </li>


      </ul>
    </div>
    <div class="col-md-4">
      <h2>이벤트</h2>
      <div class="cal_bbs">
        <h5>일요일 17, 2016</h5>
        <div class="bnList" style="width:244px; height: 132px; margin-bottom: 8px; margin-top: 20px;">
          <ul id="vertical-ticker">

          </ul>
        </div>

      </div>

  </div>
</div>
</div>


  <div class ="row" style="margin-top: 20px">
  <tr align="center">
    <td>협력기관</td>
    <td><img src="uni1.png" alt="연구센터 소개" width="150" height="46" border="0"></td>
    <td><img src="uni2.png" alt="협력기관" width="150" height="46" border="0"></td>
    <td><img src="uni3.png" alt="협력기관" width="150" height="46" border="0"></td>
    <td><img src="uni4.png" alt="협력기관" width="150" height="46" border="0"></td>

  </tr>
</div>




  </table>















<div class="clb"></div>