$light-orange: #ff8c00;

@import 'bootstrap';
@import "font-awesome";
@import 'posts';
@import 'comments';

//body {
//  background: #fff;
 // color: #828282;
 // font-size: 77%;
 // line-height: 1.5;


//}

//html, body {
 // min-height: 100%;
  //font-family: 돋움, Dotum;
 // font-style: normal;
 // margin: 0px;
 // padding: 0px;

//}

//body {

  //margin: 8px;
//}
//#head {
  //width: 1200px;
  //margin: 0 auto;
//}


.navbar-brand {
  padding: 0px;
  height:20px;
}

//colliding definition of navbar?

.img{
  height:100%;
  width: 100%;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}






/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

img {
  max-width: 100%;
  max-height: 100%;
}


.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}




/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
  top: 50%;
  display: block;
  position: relative;
  height: auto;
  transform: translate(0,-50%);
  margin-right: 15px;
  margin-left: 15px;
}





.navbar-nav>li>.dropdown-menu {
  z-index: 9999;
}

body {
  font-family: "Lato";
}