// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clb {
  clear: both;
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.container{
  font-size: 12px;
}

#m_con {
  width: 1200px;
  margin: 0 auto;
  line-height: 1.5;
}

#m_con .main_con {
  margin-top: 55px;
  padding: 0 30px;
}
.m01 {
  width: 270px;
  float: left;
  margin-right: 48px;
}
.m02 {
  width: 504px;
  float: left;
  margin-right: 48px;
}

.m03 {
  width: 270px;
  float: right;
}

#m_con .main_con h2 {
  line-height: 43px;
  padding-left: 52px;
  color: #071c5e;
  font-size: 17px;
  margin-bottom: 15px;
}


.carousel-control.left
{
  background: none;
}
.carousel-control.right
{
  background: none;
}

.carousel-control
{
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: auto;
  color: #fff;
  text-align: center;
  opacity: 1;
  text-shadow: none;
}
.carousel-control:hover
{
  color: #000;
}
.carousel-indicators
{
  bottom: -50px;
}
.carousel-indicators li
{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #16a085;
  border-radius: 50%;
}
.carousel-indicators .active
{
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #16a085;
}
.carousel-caption
{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.4);
}

.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 200px;
}


.category {
  position:relative;
  display: inline-block;
  float:left;
  padding:10px;
  height:30px;
  width:30px;//doublecheck
}

div.row{

  text-align:center;
  border-color: gray;
  border-width: 1px;

}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;

}
div {
  background-color: lightgrey;
  width: 150px;
  border: 1px grey;
  padding: 25px;
  margin: 25px;
}
